.container{
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYP3L3sBe9-xmmF5pIA1RkdBxTnaPZbpScjE7lS-F2stitg3HREw');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.submit-new-account {
    background-color:gray;
    margin-right: 400px;
    margin-left: 400px;
    font-size: 25px;
  }
  h1{
    text-align: center;
  }
  #make-deposit {
    background-color: gray;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .new_account {
    text-align: center;
  }
  
  .deposits_withdrawls {
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
  }
  #make-deposits{
    background-color:gray;
    font-size:15px;
  }
  
  
  h3 {
    color:green;
    font-size: 40px;
  }
  