.container{
  background-image:url('https://ak4.picdn.net/shutterstock/videos/8093134/thumb/8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:1000px;
}
.form-group {
   
    margin-right: 400px;
    margin-left: 400px;
    background-color: moccasin;
  }
  h1{
    text-align: center;
  }
  
  
  .new_account {
    text-align: center;
  }
  
  .deposits_withdrawls {
    text-align: center;
  }
  
  
  h3 {
    color:green;
    font-size: 40px;
  }
  